*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* Global Css Start*/

h3
{
   font-size: 20px;
   text-align: center;
   margin-bottom: 1rem;
   color: white;
}
p{
  color: #f5f5f5;
 

}
h2{
  color: white;
  margin-bottom: 20px;
}
h1{
  font-size: 55px;
  color: white;
  text-align: center;
}

h4{
  font-size: 25px;
  color: black;
  margin-bottom: 25px;
}
h5{
  color: black;
}
.reaction{
background-color: #fff6f5;
color:#ee6c70 ;
}
.memory{
  background-color: #fcffdf;
  color: #ffc13d;
}
.verbal{
  background-color: #f2fbfa;
  color: #2cae88;
}
.visual{
  background-color: #f1f1ff;
  color: #464fc4;
}

.btn5{
  height: 45px;
  width: 100%;
  background-color: #332de9;
  color: #fff;
  border-radius: 100px;
  border: 0px;
  margin-top: 15px;
}

.container
{
   background-color: #fff;
   padding: 100px 400px;
}
.row
{
    /* padding: 10px; */
    box-shadow: 5px 4px 3px aliceblue;
    background-color: rgb(255, 252, 249);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Global Css End*/

/* main Start here */
.left{
    height: 380px;
    padding: 30px;
    background: linear-gradient(rgb(89, 70, 240),rgb(46, 42, 136));

    border-radius: 25px;
    
   
}

.circle{

    border-radius: 100px;
    height: 150px;
    width: 150px;
    background: linear-gradient(rgb(53, 41, 148),rgb(48, 38, 228));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    color: white;
    padding: 15px;
    
}

.right{
    height: 380px;
    width: 500px;
    padding: 35px;
    background-color:#fff;
    border-radius: 25px;
}
.right .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
    height: 45px;
    margin: .5rem 0;
    border-radius: .8rem;
}

.right .box .svgbox{
    width: 50%;
  display: flex;
  align-items: center;
  
    
}

.right .box .svgbox svg{
  margin-right: .5rem;  
  
  
  
    
}


/* main end here */
